.main-photo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/ba1.jpg");
  background-repeat: no-repeat;
}

.underline-dot {
  border-bottom: thin dashed black;
}

.navbar {
  z-index: 999;
}
